<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <div class="row header">
        <div class="col-sm-2 logo">
           <a href="/loja/"><img src="../img/logo.png"></a>
            <p>Pag-Certo</p>
        </div>

        <div class="col-sm-6 search">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-4 login">
            <a id="user"><img  src="../img/user.png"></a>
            <a href="carrinho.html"><img id="carrinho" src="../img/car.png"></a>
            <form action="">
                <div class="form-group formulario">
                    <input type="text" class="form-control" placeholder="Email" />
                    <input type="text" class="form-control" placeholder="Senha" />
                    <div class="botoes">
                            <a class="btn btn-primary">Logar</a>
                            <a href="cadastro" class="btn btn-primary">Cadastrar-se</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="fundo">
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-responsive" src="http://www.comicscamisetas.com.br/image/cache/data/M/252-800x800.jpg"
                    alt="Leading">
                <div class="card-body">
                    <h4 class="card-title">Camiseta - Café</h4>
                    <p class="card-text">Tamanho: Único, Branca de manga curta</p>
                    <a href="#" class="btn btn-primary">R$10,00 - Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-responsive" src="http://www.comicscamisetas.com.br/image/cache/data/M/337-800x800.jpg"
                    alt="Leading">
                <div class="card-body">
                    <h4 class="card-title">Camiseta - Evolução</h4>
                    <p class="card-text">Tamanho: Único, Preta de manga curta</p>
                    <a href="#" class="btn btn-primary">R$10,00 - Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-responsive" src="http://www.comicscamisetas.com.br/image/cache/data/M/137-800x800.jpg"
                    alt="Leading">
                <div class="card-body">
                    <h4 class="card-title">Camiseta - Game Over</h4>
                    <p class="card-text">Tamanho: Único, Azul marinho de manga curta</p>
                    <a href="#" class="btn btn-primary">R$10,00 - Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-responsive" src="http://www.comicscamisetas.com.br/image/cache/data/M/723-500x500.jpg"
                    alt="Leading">
                <div class="card-body">
                    <h4 class="card-title">Camiseta - Call of Duty</h4>
                    <p class="card-text">Tamanho: Único, Preta de manga curta</p>
                    <a href="#" class="btn btn-primary">R$10,00 - Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-responsive" src="http://www.comicscamisetas.com.br/image/cache/data/M/663-800x800.jpg"
                    alt="Leading">
                <div class="card-body">
                    <h4 class="card-title">Camiseta - Balzer</h4>
                    <p class="card-text">Tamanho: Único, Vermelha de manga curta</p>
                    <a href="#" class="btn btn-primary">R$10,00 - Comprar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>

</html>